<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <title></title>
</head>

<body style="background: #fff; padding: 0; margin:0; overflow-y: hidden">
    <div style="background-position: center center; background-size: cover; color: #fff; box-shadow: #464637 6px 0px 3px" id="pic">
    </div>
    <div id="calendar" style="border: 1px solid #777; width: 70px; float: right; height: 70px; font-size: 20px; text-align: center; color:#888; padding: 10px; margin: 30px; font-weight: 102%; font-family: 'Copperplate';">
        <span id="month" style="font-size: 18px;"></span><br>
        <span id="day" style=""></span><br>
        <span id="year" style="font-size: 18px;"></span>
    </div>
    <div style="color: #666; margin: 30px 10px 5px 18px; font-size: 21px; letter-spacing: 2px; text-align: left; font-family: Custom" id="word">
        天青色等烟雨，而我在等你。
    </div>

<script>    
    function renderCalendar (date1) {
        if (!date1) {
            document.getElementById("calendar").style.display="none"
            return;
        }
        var date = new Date;
        date.setTime(date1);
        var monthName=["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];
        document.getElementById("year").innerHTML=date.getFullYear();
        var mIdx = date.getMonth();
        document.getElementById("month").innerHTML=monthName[mIdx];
        var dd = date.getDate();
        document.getElementById("day").innerHTML=dd;
    }    
    document.getElementById("pic").clientWidth=document.body.clientWidth;
    document.getElementById("pic").style.height=document.body.clientWidth+"px";
</script>
</div>
</body>

</html>
